<h1>Listing font_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @font_types.each do |font_type| %>
      <tr>
        <td><%= font_type.name %></td>
        <td><%= link_to 'Show', font_type %></td>
        <td><%= link_to 'Edit', edit_font_type_path(font_type) %></td>
        <td><%= link_to 'Destroy', font_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Font type', new_font_type_path %>
